<!DOCTYPE html>
<html>
<head>
<meta name="keywords" content="Woman makeup "/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="Description" content="Welcome to LXMAGIC"/>

<title>{% block title %}{% endblock %}</title>


<link rel="stylesheet" type="text/css" href="/static/lxmagic/css/style.css">
{% block css %}
{% endblock %}
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<div id="page-wrap">
    <header id ="header">
    	<div id="inner-head">
    		<a href="/"><img src="/static/lxmagic/images/logo.png" id="logo" /></a>
    		<nav id ="main-nav">
    			<ul>
          {% for i in header.menuitems.all reversed %}
          {% if i.category%}
    			<li><a href="{{ i.category.get_url }}">{{i.name}}</a></li>
          {% else %}
          <li><a href="{{ i.link }}">{{i.name}}</a></li>
          {% endif %}
          {% empty %}
          <li>请在后台配置相关菜单</li>
          {% endfor %}
    			</ul>
    		</nav>
    	</div>
    </header>
    {% block wrap %}
    {% endblock %}
    <footer id="footer">
		<nav id ="foot-nav">
      <ul>
          {% for i in footer.menuitems.all %}
          {% if i.category %}
          <li><a href="{{ i.category.get_url }}">{{ i.name }}</a></li>
          {% else %}
          <li><a href="{{ i.link }}">{{ i.name }}</a></li>
          {% endif %}
          {% empty %}
          <li>请在后台配置相关菜单</li>
          {% endfor %}
      </ul>
    </nav>
    <p>浙ICP XXXXXXXXXXX</p>
    <p>香港临希化妆品有限公司 版权所有</p>
	</footer>
</div>
<script src="/static/lxmagic/js/jquery.min.js"></script>
{% block js %}
{% endblock %}
</body>
</html>