<!DOCTYPE html>
<html>
<head>
<meta name="keywords" content="Woman Fashion "/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="Description" content="Welcome to Elpizo, ahigh-end fashion brand where modern design meets the classics."/>

<title></title>
<link href="http://cdn.bootcss.com/jqueryui/1.10.3/css/base/minified/jquery.ui.tabs.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<div id="page-wrap">
    <header id ="header">
    	<div id="inner-head">
    		<img src="/static/images/logo.png" id="logo" />
    		<nav id ="main-nav">
    			<ul>
    			<li><a href="#">近期活动</a></li>
    			<li><a href="#">所有产品</a></li>
    			<li><a href="#">首页</a></li>

    			</ul>
    		</nav>
    	</div>
    </header>
    <div id="wrap">
    <aside id="sidebar">
    	<section class="widget">
    		<nav  id='side-nav'>
    			<ul>
    				<li><a href="#">面膜</a></li>
    				<li><a href="#">面膜</a></li>
    			</ul>
    		</nav>
    	</section>
    </aside>
    <div id ="content">
<nav id="breadcrumb">
   <ul>
      <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
         <a itemprop="url" rel="up up up" href="/">
            <span itemprop="title">首页<span>
         </a>
      </li>
      <li>></li>
      <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
         <a class="nobr" itemprop="url" rel="up up" href="/tags/">
            <span itemprop="title">面膜</span>
         </a>
         
      </li>
      <li>></li>
      <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
         <a itemprop="url" rel="up" href="./">
            <span itemprop="title">面膜</span>
         </a>
      </li>

   </ul>
</nav>
    <div class="page">
      <a href="#">下一个▶</a>
      <a href="#">◀上一个</a>
    </div>
    <div class="container">
      <div class="cover">
        <img src="/static/images/product.png" width="400" / >
      </div>
      <div class="info">
        <h2>Shenme</h2>
        <h4>什么什么面霜</h4>
        <p>
          容量：30ML<br/>
          生产日期：2013.11.29
        </p>
      </div>
    </div>
    <div id="tab">
      <ul>
        <li><a href="#tab-1">产品介绍</a></li>
        <li><a href="#tab-2">使用方法</a></li>
      </ul>
      <div id="tab-1">
        balabalabalabala11111
      </div>
      <div id="tab-2">
        balabalabalabala22222
      </div>
    </div>
    </div>
  </div>
</div>
</div>
    <footer id="footer">
    <nav id ="foot-nav">
      <ul>
          <li><a href="#">帮助</a></li>
          <li><a href="#">关于我们</a></li>
          <li><a href="#">联系我们</a></li>
          <li><a href="#">法律声明</a></li>
      </ul>
    </nav>
    <p>浙ICP XXXXXXXXXXX</p>
    <p>香港临希化妆品有限公司 版权所有</p>
  </footer>

</div>
<script src="http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript">  
  $(function() {
    $( "#tab" ).tabs();
  });
</script>
</body>
</html>