{% extends "base-inner.html" %}
{% block title %}1{% endblock %}

{% block content %}
<div id ="content">
  <nav id="breadcrumb">
  <ul>
    <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
       <a itemprop="url" rel="up up up" href="/">
          <span itemprop="title">首页<span>
       </a>
    </li>
    <li>></li>
    {% for a in product.category.get_ancestors %}
    <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
       <a itemprop="url" rel="up" href="{{ a.get_url }}/">
          <span itemprop="title">{{a.name}}</span>
       </a>
    </li>
    <li>></li>
    {% endfor %}
    <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
       <a itemprop="url" rel="up" href="{{ product.category.get_url }}/">
          <span itemprop="title">{{product.category.name}}</span>
       </a>
    </li>
    <li>></li>
    <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
       <a itemprop="url" rel="up">
          <span itemprop="title">{{product.name}}</span>
       </a>
    </li>


  </ul>
  </nav>
    <div class="page">
      <a href="#">下一个▶</a>
      <a href="#">◀上一个</a>
    </div>
    <div class="container">
      <div class="cover">
        <img src="{{ product.cover.thumb_big.url }}"/ >
      </div>
      <div class="info">
        <h2>{{ product.ename }}</h2>
        <h4>{{ product.name }}</h4>
        <p>
          规格：{{ product.spec }}<br/>
          价格：¥{{ product.price }}
        </p>
      </div>
    </div>
    <div id="tab">
      <ul>
        <li><a href="#tab-1">产品介绍</a></li>
        <li><a href="#tab-2">使用方法</a></li>
      </ul>
      <div id="tab-1">
        {{ product.introduction|linebreaksbr }}
      </div>
      <div id="tab-2">
        {{ product.instruction|linebreaksbr }}
      </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/static/lxmagic/js/jquery-ui.min.js"></script>
<script type="text/javascript">  
  $(function() {
    $( "#tab" ).tabs();
  });
</script>
{% endblock %}
