{% extends "base-inner.html" %}

{% block title %}Product List{% endblock %}

{% block content %}
<div id ="content">
	<nav id="breadcrumb">
	<ul>
	  <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
	     <a itemprop="url" rel="up up up" href="/">
	        <span itemprop="title">首页<span>
	     </a>
	  </li>
	  <li>></li>
	  {% if category %}
	  {% for a in category.get_ancestors %}
	  <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
	     <a itemprop="url" rel="up up up" href="{{ a.get_url }}">
	        <span itemprop="title">{{ a.name }}<span>
	     </a>
	  </li>
	  <li>></li>
	  {% endfor %}
	  <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
	     <a itemprop="url" rel="up up up" href="{{ a.get_url }}">
	        <span itemprop="title">{{ category.name }}<span>
	     </a>
	  </li>
	  {% else %}
	  <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
	     <a itemprop="url" rel="up up up" href="/product/">
	        <span itemprop="title">所有产品<span>
	     </a>
	  </li>  
	  {% endif %}

	</ul>
	</nav>
		<div class="container">
		{% for p in products %}
	<div class="item">
	  <div class="col">
	  <img src = "{{p.thumb_middle.url}}" / >
	  </div>
	  <div class="col">
	  <h4>{{ p.name }}</h4>
	  <h2>¥{{ p.price }}</h2>
	  <a href="/product/{{ p.id }}"  class="btn">查看详情</a>
	  </div>
	</div>
	{% empty %}
		<label>暂无相关产品！</label>
	{% endfor %}
	</div>
</div>
{% endblock %}