{% extends "base-inner.html" %}  
{% block title %}News{% endblock %}

{% block content %}
<div id ="content">  
      <nav id="breadcrumb">
        <ul>
           <li>最新活动</li>
        </ul>
      </nav>
   		<div class="container">
          {% for n in news %}
          <div class="news">
            <div class="cover">
              <img src="../static/images/product.png"/>
            </div>
            <div class="info">
              <p>这里是活动名称</p>
              <p>活动详情</p>
            </div>
          </div>
          {% endfor %}
   		</div>
</div>
{% endblock %}