{% extends "base-inner.html" %}  
{% block title %}News{% endblock %}

{% block content %}
<div id ="content">  
      <nav id="breadcrumb">
        <ul>
           <li>最新活动</li>
        </ul>
      </nav>
   		<div class="container">
          {% for n in news %}
          <div class="news">
            <div class="cover">
              <img src="{{ n.thumb_middle.url }}"/>
            </div>
            <div class="info">
              <p>{{ n.name }}</p>
              <p><a href="/news/{{ n.id }}/">点击查看活动详情</a></p>
            </div>
          </div>
          {% endfor %}
   		</div>
</div>
{% endblock %}